$fg: #FBF1C7;
$bg: #1D2021;

$workspace-width: 12px;
$workspace-height: 12px;
$workspace-expand-multiplier: 1.5;
$special-workspace-color: #B8BB26;

.bar {
  font-family: 'Mononoki';
  font-size: 20px;
  background: transparent;
  color: $fg;

}

.bg {
  background: rgba($color: $bg, $alpha: 0.95);
}

.workspace {
  margin: (50px - $workspace-height) / 2;
  margin-left: 0px;
  margin-right: 5px;
  min-width: $workspace-width;
  border-radius: $workspace-width;
  background-color: $fg;
}

.expand {
  min-width: $workspace-width * $workspace-expand-multiplier;
}
.anchor {
  min-width: $workspace-width - 1;
}
.specialworkspace {
  margin: (50px - $workspace-height) / 2;
  margin-left: 0px;
  margin-right: 5px;
  min-width: $workspace-width;
  border-radius: $workspace-width;
  background-color: $special-workspace-color;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  background-color: rgba(251, 241, 199, 0.2);
}

.volume > label {
  margin-top: 3px;
  margin-bottom: 3px;
}
scale {
  all:unset;
}
scale trough {
  all: unset;
  background-color: rgba($color: $bg ,$alpha: 0.2);
  min-width: 100px;
  min-height: 10px;
  border-radius: 10px;
}
scale trough highlight {
  all:unset;
  background-color: rgba(251, 241, 199, 0.6);
}
scale slider {
  all:unset;
  min-width: 0px;
  min-height: 0px;
}
.popup-volume {
  font-family: "Mononoki";
  font-size: 20px;
  color: $fg;
}
.popup-volume > scale {
  margin: 10px;
}
.popup-volume > scale trough {
  background-color: rgba($color: $bg, $alpha: 0.45);
  min-width: 256px;
  min-height: 50px;
  border-radius: 50px;
}

.icon-container {
  font-size: 24px;
  min-width: 0.5em;
  padding-right: .34em;
  margin-top: 13px;
  margin-bottom: 13px;
}

.icon {
  all:unset;
  font-size: 24px;
  padding-right: .34em;
}

.hidden {
  opacity: 0.3;
}
