$fg: #FBF1C7;
$bg: #1D2021;

$workspace-width: 12px;
$workspace-height: 12px;
$workspace-expand-multiplier: 1.5;
$special-workspace-color: #B8BB26;

.bar {
  font-family: 'Mononoki';
  font-size: 20px;
  background: transparent;
  color: $fg;

}

.bg {
  background: rgba($color: $bg, $alpha: 0.95);
}

.workspace {
  margin: (50px - $workspace-height) / 2;
  margin-left: 0px;
  margin-right: 5px;
  min-width: $workspace-width;
  border-radius: $workspace-width;
  background-color: $fg;
}

.expand {
  min-width: $workspace-width * $workspace-expand-multiplier;
}
.anchor {
  min-width: $workspace-width - 1;
}
.specialworkspace {
  margin: (50px - $workspace-height) / 2;
  margin-left: 0px;
  margin-right: 5px;
  min-width: $workspace-width;
  border-radius: $workspace-width;
  background-color: $special-workspace-color;
}

.container {
  min-width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  background-color: rgba(251, 241, 199, 0.2);
}

.systray > :nth-child(1) {
  margin-left: 15px;
  margin-right: 15px;
}
